[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
*.csproj.user
*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

mono_crash.*

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

project.lock.json
project.fragment.lock.json
artifacts/

secrets.json

.idea/
*.sln.iml

.DS_Store
.AppleDouble
.LSOverride

Icon

._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

appsettings.Development.json
